<div class="container mt-4">
  <h1 class="text-center">Detalles de la Tarea</h1>
  <div class="card mt-4">
    <div class="card-body">
      <h2><%= @task.title %></h2>
      <p><strong>Descripción:</strong> <%= @task.description %></p>
      <p><strong>Estado:</strong> <%= @task.status %></p>
      <p><strong>Prioridad:</strong> <%= @task.priority %></p>
      <p><strong>Creador:</strong> <%= @task.creator.first_name %> <%= @task.creator.last_name %></p>
      <p><strong>Responsable:</strong> <%= @task.assignee.first_name %> <%= @task.assignee.last_name %></p>
      <p><strong>Tablero:</strong> <%= link_to @task.board.name, board_path(@task.board) %></p>
      <p><strong>Creado:</strong> <%= @task.created_at.strftime("%d de %B, %Y %H:%M") %></p>
      <p><strong>Actualizado:</strong> <%= @task.updated_at.strftime("%d de %B, %Y %H:%M") %></p>
      
      <% ['TO DO', 'WIP', 'DONE'].each do |status| %>
        <% unless @task.status == status %>
          <%= form_with url: move_board_task_path(@task.board, @task, status: status), method: :patch, class: 'd-inline' do |form| %>
            <%= form.submit "Mover a #{status}", class: "btn btn-outline-primary" %>
          <% end %> <!-- Closing form_with -->
        <% end %> <!-- Closing unless -->
      <% end %> <!-- Closing each -->
    </div>
  </div>
</div>
