
<div class="container mt-4">
  <h1 class="text-center">Info de <%= @team.name %></h1>

  <section class="mt-5">
    <h2>Boards:</h2>
    <div class="list-group">
      <% @boards.each do |board| %>
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <%= board.name %>
          <%= link_to 'View', board_path(board), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <%= link_to 'Add Board', new_work_team_board_path(@team), class: 'btn btn-success mt-3' %>
  </section>

  <section class="mt-5">
    <h2>Users:</h2>
    <ul class="list-group">
      <% @users.each do |user| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= "#{user.first_name} #{user.last_name}" %>
          <%= link_to 'View', user_path(user), class: 'btn btn-primary' %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'Add User', add_users_work_team_path(@team), class: 'btn btn-success mt-3' %>
  </section>

</div>
