<!-- app/views/users/show.html.erb -->
<h1>User Details</h1>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user.position %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @user.created_at.strftime("%B %d, %Y %H:%M") %>
</p>

<p>
  <strong>Updated At:</strong>
  <%= @user.updated_at.strftime("%B %d, %Y %H:%M") %>
</p>

<h2>Work Teams:</h2>
<% if @work_teams.present? %>
  <ul>
    <% @work_teams.each do |work_team| %>
      <li><%= work_team.name %> - <%= work_team.description %></li>
    <% end %>
  </ul>
<% else %>
  <p>No work teams found.</p>
<% end %>



