
<div class="container mt-4">
  <h1 class="text-center mb-4">Info del Board: <%= @board.name %></h1>

  <div class="row">
    <% ['TO DO', 'WIP', 'DONE'].each do |status| %>
      <div class="col-md-4">
        <h3><%= status %></h3>
        <ul class="list-group">
          <% @tasks.select { |task| task.status == status }.each do |task| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= task.title %>
              <%= link_to 'View', task_path(task), class: 'btn btn-primary btn-sm' %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <%= link_to 'New Task', new_board_task_path(@board), class: 'btn btn-success mt-3' %>
</div>
